---
layout: default
permalink: /index.php
---

<section class="marketing intro">{% include intro.html %}</section>
<section class="marketing info">{% include info.html %}</section>
<section class="marketing immobilienangebote">{% include immobilienangebote.html %}</section>
<section class="marketing contact">
	<div class="row">
		<div class="column">
			<h2>Kontakt</h2>
			{% include contact.html %}
		</div>
	</div>
</section>
<section class="marketing standorte">{% include standorte.html %}</section>
<section class="marketing newsletter">{% include newsletter.html %}</section>
