<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteCond %{SERVER_ADDR} !=127.0.0.1
	RewriteCond %{SERVER_ADDR} !=::1
	RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>

Redirect /index.php/ueber-uns http://www.bakirimmobilien.de/ueber
Redirect /index.php/immobilienangebote http://www.bakirimmobilien.de/immobilienangebote
Redirect /index.php/unsere-leistungen http://www.bakirimmobilien.de/leistungen
Redirect /index.php/karriere http://www.bakirimmobilien.de/karriere
Redirect /index.php/verwaltung http://www.bakirimmobilien.de/verwaltung
Redirect /index.php/wertermittlung http://www.bakirimmobilien.de/wertermittlung
Redirect /index.php/finanzierung http://www.bakirimmobilien.de/finanzierung
Redirect /index.php/impressum http://www.bakirimmobilien.de/impressum
Redirect /index.php/kontaktformular http://www.bakirimmobilien.de/kontakt
