<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{HTTPS} !=on
	RewriteCond %{HTTP_HOST} !^www\. [NC]
	RewriteCond %{SERVER_ADDR} !=127.0.0.1
	RewriteCond %{SERVER_ADDR} !=::1
	RewriteRule ^ http://www.%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
</IfModule>

<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</IfModule>

# Make Font Loading available
Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

ErrorDocument 404 /404.html

Redirect /index.php/ueber-uns http://www.bakirimmobilien.de/ueber
Redirect /index.php/immobilienangebote http://angebote.bakirimmobilien.de
Redirect /index.php/unsere-leistungen http://www.bakirimmobilien.de/leistungen
Redirect /index.php/verwaltung http://www.bakirimmobilien.de/verwaltung
Redirect /index.php/wertermittlung http://www.bakirimmobilien.de/wertermittlung
Redirect /index.php/finanzierung http://www.bakirimmobilien.de/finanzierung
Redirect /index.php/impressum http://www.bakirimmobilien.de/impressum
Redirect /index.php/kontaktformular http://www.bakirimmobilien.de/kontakt

Redirect /immobilienangebote http://angebote.bakirimmobilien.de
