---
layout: default
---

<div class="wrapper">
	<section class="marketing hero">
		<div class="container">
			<h2>Immobilien sind unsere Leidenschaft.</h2>
			<p>Möchten Sie eine Immobilie erwerben oder veräußern? Wir stehen Ihnen dabei gerne zur Seite.</p>
			<div class="row" style="width: 60%;">
				<div class="col span-6"><a class="btn btn--white" href="/immobilienangebote/" onclick="_gaq.push(['_trackEvent', 'Kaufen / Verkaufen', 'Kaufen und Mieten', 'CTA /'])">Kaufen / Mieten</a></div>
				<div class="col span-6"><a class="btn btn--white" href="/kontakt/" onclick="_gaq.push(['_trackEvent', 'Kaufen / Verkaufen', 'Anbieten', 'CTA /'])">Anbieten</a></div>
			</div>
		</div>
	</section>

	<section class="marketing intro">{% include intro.html %}</section>
	<section class="marketing info">{% include info.html %}</section>
	<section class="marketing immobilienangebote">{% include immobilienangebote.html %}</section>
	<section class="marketing contact">{% include contact.html %}</section>
</div>
