---
layout: default
---

<div class="about">
	<div class="container">
		<h2>Immobilien sind unsere Leidenschaft.</h2>
		<p>Möchten Sie eine Immobilie erwerben oder veräußern? Wir stehen Ihnen dabei gerne zur Seite.</p>
		<div class="row" style="width: 60%;">
			<div class="col span-6"><a class="btn btn--white" href="/immobilienangebote/">Kaufen</a></div>
			<div class="col span-6"><a class="btn btn--white" href="http://www.bakirimmobilien.de/index.php/kontaktformular">Verkaufen</a></div>
		</div>
	</div>
</div>

{% include info.html %}
{% include immobilien-section.html %}