<div class="row">
	<div class="big-chooser col span-6" style="background-image: url(http://www.bakirimmobilien.de/templates/bki/images/kaffeebohnen.jpg)">
		<div class="big-chooser-inner">
			<p>Finden Sie Ihre Immobilie!</p>
			<a href="/index.php/immobilienangebote" class="btn">Unsere Immobilienangebote</a>
		</div>
	</div>
	<div class="big-chooser col span-6" style="background-image: url(http://www.bakirimmobilien.de/templates/bki/images/schreibtisch.jpg)">
		<div class="big-chooser-inner">
			<p>Möchten Sie Ihre Immobilie verkaufen?</p>
			<a href="/index.php/kontaktformular" class="btn">Kontaktieren Sie uns</a>
		</div>
	</div>
</div>
