<footer class="main-footer">
	<div class="row main">
		<div class="medium-3 column">
			<h3>Adresse</h3>
			<address>
				<a href="https://goo.gl/maps/Yuapvmx4wEy" target="_blank">
					Bakir Immobilien GmbH<br>
					Sillensteder Straße 4A<br>
					26441 Jever
				</a>
			</address>
		</div>

		<div class="medium-3 column">
			<h3>Kontakt</h3>
			<a href="mailto:{{ site.data.settings.email }}" target="blank">{{ site.data.settings.email }}</a><br>
			<a href="tel:+494461966930">Tel: 04461 966930</a><br>
			<a href="tel:+491716044393">Mobil: 0171 6044393</a>
		</div>

		<div class="medium-3 column">
			<h3>Öffnungszeiten</h3>
			<p>
				Mo. - Do.: 09 bis 13 Uhr und <span style="white-space: nowrap;">14 bis 18 Uhr</span><br>
				Fr.: 09 bis 13 Uhr
			</p>
		</div>

		<div class="medium-3 column">
			<h3>Service</h3>
			<a href="/verwaltung">Verwaltung</a><br>
			<a href="/wertermittlung">Wertermittlung</a><br>
			<a href="/finanzierung">Finanzierung</a><br>
		</div>
	</div>

	<div class="row socials">
		<div class="column">
			<a class="socials__facebook"   href="http://facebook.com/bakirimmobilien"          target="_blank">Facebook</a>
			<a class="socials__twitter"    href="http://twitter.com/bakirimmobilien"           target="_blank">Twitter</a>
			<a class="socials__googleplus" href="http://plus.google.com/109528919958760455294" target="_blank">Google+</a>
			<a class="socials__youtube"    href="http://youtube.com/bakirimmobilien"           target="_blank">YouTube</a>
		</div>
	</div>
</footer>

<footer class="copy-footer">
	<div class="row">
		<div class="column" style="text-align: center;">
			© {{ site.time | date: '%Y' }} Bakir Immobilien | <a href="/ueber/">Über uns</a> | <a href="/impressum/">Impressum</a> | <a href="/agb">AGB</a>
		</div>
	</div>
</footer>
