<footer>
    <div class="container">
    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="row">
        <div class="col span-3">
            <h3>Kontakt</h3>
            <p>
                Bakir Immobilien GmbH<br>
                Virchowstraße 17<br>
                26382 Wilhelmshaven
            </p>

            <p>
                Email: <a href="&#109;&#097;&#105;&#108;&#116;&#111;&#058;&#105;&#110;&#102;&#111;&#064;&#098;&#097;&#107;&#105;&#114;&#046;&#100;&#101;">&#105;&#110;&#102;&#111;&#064;&#098;&#097;&#107;&#105;&#114;&#046;&#100;&#101;</a><br>
            </p>

            <p>
                Telefon: 04421 994770<br>
                Telefax: 04421 994777
            </p>
        </div>
        
        <div class="col span-3">
            <h3>Öffnungszeiten</h3>
            <p>
                Mo.-Do.: 09:00-18:00 Uhr<br>
                Fr.: 09:00-13:00 Uhr
            </p>
            
            <h3>Links</h3>
            <a href="http://www.bakirimmobilien.de/images/broschuere.pdf" target="_blank">Unsere Broschüre</a><br>
            <a href="/impressum/">Impressum</a><br>
        </div>

        <div class="col span-3">
            <h3>Unser Service</h3>
            <a href="/verwaltung">Verwaltung</a><br>
            <a href="/wertermittlung">Wertermittlung</a><br>
            <a href="http://www.bakirimmobilien.de/index.php/finanzierung">Finanzierung</a><br>
            <a href="immobilienangebote/">Immobilienangebote</a><br>
            <a href="http://www.bakirimmobilien.de/images/AGB%20-%20Bakir%20Immobilien%20GmbH.pdf" target="_blank">Unsere AGB</a>
        </div>
        
        <div class="col span-3">
            <h3>Social Media</h3>
            <a href="http://facebook.com/bakirimmobilien">Facebook</a><br>
            <a href="http://twitter.com/bakirimmobilien">Twitter</a><br>
            <a href="https://plus.google.com/109528919958760455294" rel="publisher">Google+</a><br>
            <a href="http://www.xing.com/companies/bakirimmobiliengmbh">Xing</a><br>
        </div>
    </div>
</div>
</footer>
