<footer class="main-footer">
	<div class="row main">
		<address class="col span-3">
			<h3>Kontakt</h3>
			<p>
				Bakir Immobilien GmbH<br>
				<a href="mailto:{{ site.data.settings.email }}">{{ site.data.settings.email }}</a><br>
				Telefon: <a href="tel:+494063779808">040 63779808</a>
			</p>
			<a href="/ueber/">Über uns</a> | <a href="/karriere/">Karriere</a><br>
		</address>

		<div class="col span-3">
			<h3>Öffnungszeiten</h3>
			<p>
				Mo.-Do.: 09:00-18:00 Uhr<br>
				Fr.: 09:00-13:00 Uhr
			</p>

			<h3>Links</h3>
			<a href="/assets/pdf/broschuere.pdf" target="_blank">Unsere Broschüre</a><br>
		</div>

		<div class="col span-3">
			<h3>Unser Service</h3>
			<a href="/leistungen/">Leistungen</a><br>
			<a href="/verwaltung">Verwaltung</a><br>
			<a href="/wertermittlung">Wertermittlung</a><br>
			<a href="/finanzierung">Finanzierung</a><br>
			<a href="/immobilienangebote">Immobilienangebote</a><br>
		</div>

		<div class="col span-3">
			<h3>Social Media</h3>
			<a href="http://facebook.com/bakirimmobilien" target="_blank">Facebook</a><br>
			<a href="http://youtube.com/bakirimmobilien" target="_blank">Youtube</a><br>
			<a href="http://twitter.com/bakirimmobilien" target="_blank">Twitter</a><br>
			<a href="https://plus.google.com/109528919958760455294" target="_blank" rel="publisher">Google+</a><br>
			<a href="http://www.xing.com/companies/bakirimmobiliengmbh" target="_blank">Xing</a><br>
		</div>
	</div>

	<div class="row socials">
		<div class="col span-12">
			<a class="socials__facebook"   href="http://facebook.com/bakirimmobilien"          target="_blank">Facebook</a>
			<a class="socials__twitter"    href="http://twitter.com/bakirimmobilien"           target="_blank">Twitter</a>
			<a class="socials__googleplus" href="http://plus.google.com/109528919958760455294" target="_blank">Google+</a>
			<a class="socials__youtube"    href="http://youtube.com/bakirimmobilien"           target="_blank">YouTube</a>
		</div>
	</div>
</footer>

<footer class="copy-footer">
	<div class="row">
		<div class="col span-12" style="text-align: center;">
			© {{ site.time | date: '%Y' }} Bakir Immobilien | <a href="/impressum/">Impressum</a> | <a href="/assets/pdf/agb.pdf" target="_blank">AGB</a>
		</div>
	</div>
</footer>
