<section class="hero">
	<h1 class="epic-text">Immobilien sind unsere Leidenschaft</h1>
	<h2 class="hero__subtitle soft-text-shadow">Möchten Sie eine Immobilie erwerben oder veräußern? Wir stehen Ihnen dabei gerne zur Seite.</h2>
	<div class="row" style="max-width: 520px;">
		<div class="col span-6"><a class="btn btn--white soft-shadow" href="/immobilienangebote/" onclick="_gaq.push(['_trackEvent', 'Kaufen / Verkaufen', 'Kaufen und Mieten', 'CTA /'])">Kaufen / Mieten</a></div>
		<div class="col span-6"><a class="btn btn--white soft-shadow" href="/kontakt/" onclick="_gaq.push(['_trackEvent', 'Kaufen / Verkaufen', 'Anbieten', 'CTA /'])">Anbieten</a></div>
	</div>
</section>