<section class="hero">
	<div class="hero__content">
		<div class="row">
			<div class="column">
				<h1 class="hero__epic-text">Immobilien sind unsere Leidenschaft</h1>
				<p class="hero__subtitle">Möchten Sie eine Immobilie erwerben oder veräußern? Wir stehen Ihnen dabei gerne zur Seite.</p>
			</div>
		</div>
		<div class="row" style="max-width: 520px;">
			<div class="small-6 column"><a class="btn btn--solid" href="/immobilienangebote/" onclick="ga('send', 'event', 'CallToAction', 'Kaufen und Mieten', '/');">Kaufen / Mieten</a></div>
			<div class="small-6 column"><a class="btn btn--solid" href="/kontakt/"            onclick="ga('send', 'event', 'CallToAction', 'Anbieten', '/');">Anbieten</a></div>
		</div>
	</div>
</section>
