<div class="immobilien-section">
	<div class="container">
		<h2>Immobilien</h2>
		<p>Immobilien in Wilhelmshaven, Oldenburg und Umgebung</p>

		<div class="row">
			<div class="col span-3">
				<figure>
					<img src="http://image.onoffice.de/smart20/Objekte/Bakir-Immobilien/763/Foto_8849.jpg@600x300">
					<figcaption>Wohnungen</figcaption>
				</figure>
			</div>

			<div class="col span-3">
				<figure>
					<img src="http://image.onoffice.de/smart20/Objekte/Bakir-Immobilien/661/Foto_7049.jpg@600x300">
					<figcaption>Büros</figcaption>
				</figure>
			</div>

			<div class="col span-3">
				<figure>
					<img src="http://image.onoffice.de/smart20/Objekte/Bakir-Immobilien/715/Titelbild_8509.jpg@800x600">
					<figcaption>Renditeobjekte</figcaption>
				</figure>
			</div>

			<div class="col span-3">
				<figure>
					<img src="http://image.onoffice.de/smart20/Objekte/Bakir-Immobilien/707/Foto_8199.jpg@800x600">
					<figcaption>Häuser</figcaption>
				</figure>
			</div>
		</div>

		<a class="btn" href="/immobilienangebote/">Zu den Immobilienangeboten</a>
	</div>
</div>
