<div class="row">
	<div class="col span-12">
		<h2>Immobilien</h2>
		<p>Immobilien in Wilhelmshaven, Oldenburg und Umgebung</p>
	</div>
</div>
<div class="row immobilien">
	<div class="col span-3">
		<figure class="photo-frame">
			<img src="/assets/img/immobilien/wohnung.jpg">
			<figcaption>Wohnungen</figcaption>
		</figure>
	</div>

	<div class="col span-3">
		<figure class="photo-frame">
			<img src="/assets/img/immobilien/buero.jpg">
			<figcaption>Büros</figcaption>
		</figure>
	</div>

	<div class="col span-3">
		<figure class="photo-frame">
			<img src="/assets/img/immobilien/renditeobjekt.jpg">
			<figcaption>Renditeobjekte</figcaption>
		</figure>
	</div>

	<div class="col span-3">
		<figure class="photo-frame">
			<img src="/assets/img/immobilien/haus.jpg">
			<figcaption>Häuser</figcaption>
		</figure>
	</div>
</div>

<a class="btn" href="/immobilienangebote/">Zu den Immobilienangeboten</a>

