<div class="row">
	<div class="column">
		<h2>Immobilien</h2>
		<p>Immobilien in Wilhelmshaven, Oldenburg und Umgebung</p>
	</div>
</div>
<div class="row immobilien">
	<div class="small-3 column">
		<figure class="photo-frame">
			<img src="/assets/img/immobilien/haus.jpg">
			<figcaption>Häuser</figcaption>
		</figure>
	</div>

	<div class="small-3 column">
		<figure class="photo-frame">
			<img src="/assets/img/immobilien/wohnung.jpg">
			<figcaption>Wohnungen</figcaption>
		</figure>
	</div>

	<div class="small-3 column">
		<figure class="photo-frame">
			<img src="/assets/img/immobilien/gewerbe_1.jpg">
			<figcaption>Verkaufsstellen</figcaption>
		</figure>
	</div>

	<div class="small-3 column">
		<figure class="photo-frame">
			<img src="/assets/img/immobilien/gewerbe_2.jpg">
			<figcaption>Gewerbeobjekte</figcaption>
		</figure>
	</div>
</div>

<a class="btn btn--dark" href="http://angebote.bakirimmobilien.de">Immobilienangebote</a>
