<div class="row">
	<div class="col span-4">
		<h2>Tradition</h2>
		<p>Wir blicken zurück auf über zwanzig erfolgreiche Jahre in der Immobilien Wirtschaft.</p>
	</div>
	<div class="col span-4">
		<h2>Innovation</h2>
		<p>Wir gehen für Sie neue Wege, die sich am Markt durchgesetzt haben. Unteranderem haben wir den digitalen Wandel erkannt.</p>
	</div>
	<div class="col span-4">
		<h2>Emotion</h2>
		<p>Sie werden bei uns mit Leidenschaft beraten und es wird individuell auf ihre Bedürfnisse eingegangen.</p>
	</div>
</div>

