<div class="row">
	<div class="medium-4 column">
		<div class="info__icon circle-icon">{% include svg/tradition.svg %}</div>
		<h2>Tradition</h2>
		<p>Wir blicken zurück auf über fünfundzwanzig erfolgreiche Jahre in der Immobilien Wirtschaft.</p>
	</div>
	<div class="medium-4 column">
		<div class="info__icon circle-icon">{% include svg/emotion.svg %}</div>
		<h2>Emotion</h2>
		<p>Sie werden bei uns mit Leidenschaft beraten und es wird individuell auf ihre Bedürfnisse eingegangen.</p>
	</div>
	<div class="medium-4 column">
		<div class="info__icon circle-icon">{% include svg/innovation.svg %}</div>
		<h2>Innovation</h2>
		<p>Wir gehen für Sie neue Wege, die sich am Markt durchgesetzt haben. Unteranderem haben wir den digitalen Wandel erkannt.</p>
	</div>
</div>
