<div class="row">
	<div class="small-12 column">
		<h2>Kunden Newsletter</h2>
		<p>Melden Sie sich für unseren kostenlosen Kunden Newsletter an um auf dem Laufenden zu bleiben und in Zukunft von exklusiven Angeboten und Vorschlägen für Events und Dienstleistungen zu profitieren.</p>
	</div>
</div>

<form action="//bakirimmobilien.us11.list-manage.com/subscribe/post?u=cce6000504f44bb0002b536ee&amp;id=9711015c6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

		<input style="display: none;" type="text" name="b_cce6000504f44bb0002b536ee_9711015c6e" tabindex="-1" value="">

		<div class="row">
			<fieldset class="medium-3 column">
				<label for="newsletter-email">E-Mail</label>
				<input id="newsletter-email" type="email" name="EMAIL">
			</fieldset>

			<fieldset class="small-6 medium-3 column">
				<label for="newsletter-firstname">Vorname</label>
				<input id="newsletter-firstname" type="text" name="FNAME">
			</fieldset>

			<fieldset class="small-6 medium-3 column">
				<label for="newsletter-lastname">Nachname</label>
				<input id="newsletter-lastname" type="text" name="LNAME">
			</fieldset>

			<div class="medium-3 column">
				<button class="newsletter-submit" type="submit" name="subscribe">Abonnieren</button>
			</div>
		</div>

</form>
