<div class="row">
	<div class="col span-3">
		<h3>Hamburg</h3>
		Rondeel 9<br>
		22301 Hamburg<br>
		Telefon: <a href="tel:+494063779808">040 63779808</a>
	</div>
	<div class="col span-3">
		<h3>Oldenburg</h3>
		Bloherfelder Straße 130<br>
		26129 Oldenburg<br>
		Telefon: <a href="tel:+4944136162630">0441 36162630</a>
	</div>
	<div class="col span-3">
		<h3>Wilhelmshaven</h3>
		Virchowstraße 17<br>
		26382 Wilhelmshaven<br>
		Telefon: <a href="tel:+494421994770">04421 994770</a>
	</div>
	<div class="col span-3">
		<h3>Jever</h3>
		Sillensteder Straße 4A<br>
		26441 Jever<br>
		Telefon: <a href="tel:+494461744617">04461 744617</a>
	</div>
</div>
