*
	box-sizing: border-box

body
	font-family: Lato, sans-serif
	color: $dark

h1, h2, h3, h4, h5, h6
	margin-top: 0

a
	color: $dark

p
	line-height: 1.8

hr
	margin: 0
	border: none
	border-bottom: 3px solid $grey

p, ul
	margin: 0 0 30px

li
	margin-bottom: 10px

label
	display: block
	margin-bottom: 5px

input,
textarea,
button
	padding: 15px
	border: 2px solid $grey
	border-radius: 2px

	line-height: 1

	background: $white2
	outline: none
	transition: all .4s

input,
textarea
	width: 100%
	line-height: 1.5
	&:focus
		border-color: $accent

button
	padding: 15px 30px
	margin: 20px 0

	&:hover
		background: $accent
		color: white
		border-color: darken($accent, 15%)

textarea
	height: 200px
	resize: none
