@font-face
	font-family: 'Lato'
	font-style: normal
	font-weight: 400
	src: local('Lato Regular'), local('Lato-Regular'), url(http://fonts.gstatic.com/s/lato/v11/MDadn8DQ_3oT6kvnUq_2rxTbgVql8nDJpwnrE27mub0.woff2) format('woff2')

*
	box-sizing: border-box

body
	font-family: Lato, sans-serif
	color: $dark

a
	color: $dark

p
	margin: 0 0 30px
	line-height: 1.8

hr
	margin: 0
	border: none
	border-bottom: 3px solid $grey