@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 100;
	src: url("../fonts/lato/lato-thin.eot");
	src: url("../fonts/lato/lato-thin.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/lato/lato-thin.woff") format("woff"),
	     url("../fonts/lato/lato-thin.ttf") format("truetype"),
	     url("../fonts/lato/lato-thin.svg#webfont") format("svg");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/lato/lato-regular.eot");
	src: url("../fonts/lato/lato-regular.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/lato/lato-regular.woff") format("woff"),
	     url("../fonts/lato/lato-regular.ttf") format("truetype"),
	     url("../fonts/lato/lato-regular.svg#webfont") format("svg");
}

@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 900;
	src: url("../fonts/lato/lato-black.eot");
	src: url("../fonts/lato/lato-black.eot?#iefix") format("embedded-opentype"),
	     url("../fonts/lato/lato-black.woff") format("woff"),
	     url("../fonts/lato/lato-black.ttf") format("truetype"),
	     url("../fonts/lato/lato-black.svg#webfont") format("svg");
}
