.main-footer
	width: 100%
	padding: 40px 0
	color: $white1
	font-size: 1em
	background: $dark

	.main
		padding-bottom: 40px
		margin-bottom: 40px
		border-bottom: 1px solid rgba(white, .2)

	h3
		text-transform: uppercase
		letter-spacing: 1px
		margin-bottom: 4px

	p, a, address
		color: rgba(white, .7)
		line-height: 1.4
		margin-bottom: 0

	a
		text-decoration: none
		&:hover
			text-decoration: underline

	@media(max-width: 799px)
		text-align: center
		h3
			margin-top: 2em


.copy-footer
	padding: 25px 0
	color: white
	background: darken($dark, 6%)
	a
		color: inherit
