.immobilie
	position: relative
	padding: 20px
	margin-bottom: 20px
	&__thumb
		float: left
		margin-right: 20px
	&__options
		position: absolute
		left: 20px
		right: 20px
		bottom: 20px
	&__button
		float: right
		display: inline-block
		padding: 10px 20px
		margin-left: 10px
		color: white
		text-decoration: none
		background: $accent
		border-radius: 3px

.immobilienangebote
	@media(max-width: 799px)
		text-align: center

.immobilien
	margin-bottom: 60px
	@media(max-width: 799px)
		display: none

.immobilie-page
	&__fields
		+cf
		margin-bottom: 40px
		.column
			margin-bottom: .5em
