.immobilienangebote__angebote-liste
	> .column
		padding: 15px

	@media(min-width: 642px)
		display: flex
		flex-wrap: wrap

		> .column
			display: flex
			width: 33.33%

.immobilie
	display: flex
	flex-direction: column

	&__thumb, &__info
		display: flex
		flex-direction: column
		flex-grow: 1

	&__thumb
		flex-grow: 0
		margin: 0 auto
		max-width: 100%
		a
			border: none !important

		img
			width: 100%
			vertical-align: middle

	&__info
		flex-grow: 1
		padding: 20px
		h2
			margin-bottom: 5px

	&__title
		margin-top: .2em
		font-size: 1.8em
		font-weight: bold
		border: none !important

	&__action
		padding: 18px 0
		border: none !important
		color: white
		text-align: center
		background: $accent
		transition: background .4s !important
		&:hover
			background: lighten($accent, 6%)

.immobilienangebote
	&__search
		margin-bottom: 2em
	&__angebote-liste
		padding: 0
		list-style: none
		.column:nth-child(3n+1)
			clear: left

.immobilien
	margin-bottom: 60px
	@media(max-width: 799px)
		display: none

.immobilie-page
	&__thumb
		width: 100%

	&__images
		+cf
		width: calc(100% + 20px)
		margin: 5px -10px 1em
		a
			width: 20%
			padding: 10px
			float: left
			border: none !important
		img
			width: 100%

	&__header-button
		display: none
		@media(min-width: 642px)
			display: block
			position: absolute
			top: -6px
			right: 0
			padding: 15px 30px
			color: white
			text-decoration: none
			line-height: 1
			background: $accent
			border: 2px solid darken($accent, 15%)
			border-radius: 2px
			outline: none
			transition: all .4s
			&:hover
				background: lighten($accent, 6%)
				border-color: $accent
	&__fields
		+cf
		margin-bottom: 40px
		.column
			margin-bottom: .5em
	&__texts
		.column
			margin-bottom: 2em
			&:last-child
				margin-bottom: 0
