.immobilie
	position: relative
	padding: 20px
	margin-bottom: 20px
	&__thumb
		float: left
		margin-right: 20px
	&__info
		h2
			margin-bottom: 0
	&__options
		margin-top: 6px
		> *
			float: right
	&__button
		display: inline-block
		padding: 10px 20px
		border: none !important
		margin-left: 10px
		color: white
		text-decoration: none
		background: $accent
		border-radius: 3px
		&:hover
			background: lighten($accent, 6%)

.immobilienangebote
	@media(max-width: 799px)
		text-align: center

.immobilien
	margin-bottom: 60px
	@media(max-width: 799px)
		display: none

.immobilie-page
	&__fields
		+cf
		margin-bottom: 40px
		.column
			margin-bottom: .5em
	&__texts
		.column
			margin-bottom: 2em
			&:last-child
				margin-bottom: 0
