.hero
	height: 90vh
	min-height: 600px

	margin: 0

	color: white
	text-align: center

	background: url('../img/hero_kaffeeherz.min.jpg')
	background-size: cover
	background-position: center -40px

	&__content
		position: relative
		top: 50%
		transform: translateY(-50%)

	&__subtitle
		margin-bottom: 40px
		font-size: 1em
		font-weight: 400

	&__epic-text
		font-size: 3em
		font-weight: 900
		font-variant: small-caps
		text-shadow: 0 3px 0 rgba(0, 0, 0, 0.3)
		letter-spacing: 3px
